/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}


*:not(dialog) {
  margin: 0;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html {
    width: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
   width: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

header {
   background-color: #2596be;
}
.logo {
  color: white;
}
button:hover {
  cursor: pointer;
}
.upper-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 10vh;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    width: 65%;
}
.lower-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 10px;
    min-width: 300px;
    font-size: large
}
.add {
    justify-self: start;
    grid-column: 2;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 241, 1);
    width: clamp(100px, 20vh, 200px);
    border: 1px solid rgb(49, 241, 1) ;
    border-radius: 10px;
    outline: none;
}
.add:hover {
  background-color: white;
  color:rgb(49, 241, 1) ;
  border: 1px solid rgb(49, 241, 1) ;
}
.theme {
    justify-self: start;
    grid-column: 3;
    width: clamp(100px, 20vh, 200px);
    border: 1px solid rgb(15, 56, 5);
    border-radius: 10px;
    color: white;
    background-color: rgb(15, 56, 5); 
}
.theme:hover {
    background-color: white;
    color: rgb(15, 56, 5);
}
main {
    height: 87vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}


.sidebar {
    padding: 10px;
    background-color: #3fb7cf;
    border-right: 1px solid black;
   
}

.stat-card {
    background-color: #c2efff;
    height: 250px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    font-size: large;
}
.stat-content {
    width: 80%;
    min-width: 72px;
    height: 80%;
}

.book-container {
    background-color:#3fb7cf;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows:  350px;
    grid-auto-rows: 350px;
    overflow-y: auto;
    gap: 10px;
}
.book-card {
    background-color: #f1fbff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    
}
.book-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 80%;
}
.controls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;

}

.controls button {
  border: 1px solid white;
  width: clamp(100px, 20vh, 200px);
  border-radius: 5px;
}
.remove-book {
background-color: red;
color: white; 
}
.remove-book:hover {
  background-color: aliceblue;
  color: rgb(255, 16, 16);
  border: 1px solid red;
}

.edit, .read-mark {
  background-color: rgb(165, 255, 249);
}
.edit:hover, .read-mark:hover{
  background-color: rgb(112, 176, 172);
}
dialog {
    background-color: rgb(198, 246, 255);
    border-radius: 30px;
    border: none;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
  font-size: larger;
}
dialog::backdrop {
  background-color: rgba(rgb(211, 67, 67), rgb(34, 42, 34), rgb(96, 96, 141), .8);
}
.form-btns {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
.form-add {
    justify-self: start;
    grid-column: 2;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 241, 1);
    width: clamp(100px, 20vh, 200px);
    border: 1px solid rgb(49, 241, 1) ;
    border-radius: 10px;
    outline: none;
}
.form-add:hover {
  background-color: white;
  color:rgb(49, 241, 1) ;
  border: 1px solid rgb(49, 241, 1) ;
}

.cancel-btn {    
    color: rgb(255, 255, 255);
    background-color: red;
    width: clamp(100px, 20vh, 200px);
    border: 1px solid red ;
    border-radius: 10px;
}
.cancel-btn:hover {
  background-color: white;
  color:red ;
  border: 1px solid red ;
}

input {
  border-radius: 5px;
  outline: none;
  border: none;
}
input:focus {
  box-shadow: 2px 2px 20px 2px rgb(244, 255, 233);
}

input[type="checkbox"]{
  width: 30px;
  height: 30px;
  margin: 0;
}

label[for="stat"]{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.edit-btn{
  justify-self: start;
    grid-column: 2;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 132, 255);
    width: clamp(100px, 20vh, 200px);
    border: 1px solid rgb(0, 132, 255) ;
    border-radius: 10px;
    outline: none;
}
.edit-btn:hover {
  background-color: white;
  color:rgb(0, 132, 255);
  border: 1px solid rgb(0, 132, 255) ;
}

.cancel-edit {
    color: rgb(255, 255, 255);
    background-color: red;
    width: clamp(100px, 20vh, 200px);
    border: 1px solid red ;
    border-radius: 10px;
}
.cancel-edit:hover {
  background-color: white;
  color:red ;
  border: 1px solid red ;
}

#yes {
  margin: 5px;
  border: none;
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}
#no {
  margin: 5px;
  border: none;
  background-color: rgb(51, 255, 0);
  color: rgb(5, 5, 5);
}