<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A personal library website to track books already read and to read.">
    <title>Awesome Library</title>
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>
<body>
    <header>
        <div class="upper-header">
            <div class="logo">
                <h1>Awesome Library</h1>
            </div>
            <div class="menu">
                <h3><a>Home</a></h3>
                <h3><a>Services</a></h3>
                <h3><a>About</a></h3>
                <h3><a>Contacts</a></h3>
            </div>
        </div>
        <div class="lower-header">
            <button class="add">Add Book</button>
            <button class="theme">Night Mode</button>
        </div>
    </header>
    <main>
        <div class="sidebar">
            <div class="stat-card">
                <h2>Stats</h2>
                <div class="stat-content">
                    <p class="book-nos">Total: 12</p>
                    <p class="read">Unread: 0 </p>
                    <p class="unread">Read: 12</p>
                </div>
            </div>
        </div>
        <div class="book-container">
            <div class="book-card">
                <div class="book-content">
                    <h2 class="book-title">Title</h2>
                    <h3 class="book-author">by: </h3>
                    <p class="book-stat">Not Read</p>
                </div>
                <div class="controls">
                    <button class="read-mark">Mark Unread</button>
                    <button class="edit">Edit</button>
                    <button class="remove-book">Remove</button>
                </div>
            </div>
                        <div class="book-card">
                <div class="book-content">
                    <h2 class="book-title">Title</h2>
                    <h3 class="book-author">by: </h3>
                    <p class="book-stat">Not Read</p>
                </div>
                <div class="controls">
                    <button class="read-mark">Mark Unread</button>
                    <button class="edit">Edit</button>
                    <button class="remove-book">Remove</button>
                </div>
            </div>
            
        </div>
    </main>
<script src="../static/js/script.js"></script>
</body>

</html>