<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A personal library website to track books already read and to read.">
    <title>Awesome Library</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <header>
        <div class="upper-header">
            <div class="logo">
                <h1>Awesome Library</h1>
            </div>
            <div class="menu">
                <h3><a>Home</a></h3>
                <h3><a>Services</a></h3>
                <h3><a>About</a></h3>
                <h3><a>Contact us</a></h3>
                <button class="theme">Night Mode</button>

            </div>
        </div>
        <div class="lower-header">
            <button class="add">Add Book</button>
        </div>
    </header>
    <main>
        <div class="sidebar">
            <div class="stat-card">
                <h2>Stats</h2>
                <div class="stat-content">
                    <p id="book-nos">Total: 12</p>
                    <p id="read">Unread: 0 </p>
                    <p id="unread">Read: 12</p>
                </div>
            </div>
        </div>
        <div class="book-container">
            <div class="book-card">
                <div class="book-content">
                    <h2 id="book-title">Title</h2>
                    <h3 id="book-author">by: </h3>
                    <p id="book-stat">Not Read</p>
                </div>
                <div class="controls">
                    <button id="read-mark">Mark Unread</button>
                    <button id="edit">Edit</button>
                    <button id="remove-book">Remove</button>
                </div>
            </div>
            <div class="book-card">
                <div class="book-content">
                    <h2 id="book-title">Title</h2>
                    <h3 id="book-author">by: </h3>
                    <p id="book-stat">Not Read</p>
                </div>
                <div class="controls">
                    <button id="read-mark">Mark Unread</button>
                    <button id="edit">Edit</button>
                    <button id="remove-book">Remove</button>
                </div>
            </div>
            <div class="book-card">
                <div class="book-content">
                    <h2 id="book-title">Title asdfasd dfgdf</h2>
                    <h3 id="book-author">by: </h3>
                    <p id="book-stat">Not Read</p>
                </div>
                <div class="controls">
                    <button id="read-mark">Mark Unread</button>
                    <button id="edit">Edit</button>
                    <button id="remove-book">Remove</button>
                </div>
            </div>
            <div class="book-card">
                <div class="book-content">
                    <h2 id="book-title">Title</h2>
                    <h3 id="book-author">by: Lorem, ipsum. </h3>
                    <p id="book-stat">Not Read</p>
                </div>
                <div class="controls">
                    <button id="read-mark">Mark Unread</button>
                    <button id="edit">Edit</button>
                    <button id="remove-book">Remove</button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>