<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A personal library website to track books already read and to read.">
    <title>Awesome Library</title>
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>
<body>
    <header>
        <div class="upper-header">
            <div class="logo">
                <h1>Awesome Library</h1>
            </div>
            <div class="menu">
                <h3><a>Home</a></h3>
                <h3><a>Services</a></h3>
                <h3><a>About</a></h3>
                <h3><a>Contacts</a></h3>
            </div>
        </div>
        <div class="lower-header">
            <button class="add">Add Book</button>
            <button class="theme">Night Mode</button>
        </div>
    </header>
    <main>
        <div class="sidebar">
            <div class="stat-card">
                <h2>Stats</h2>
                <div class="stat-content">
                    <p class="book-nos">Total: 12</p>
                    <p class="read">Unread: 0 </p>
                    <p class="unread">Read: 12</p>
                </div>
            </div>
        </div>
        <div class="book-container">
        </div>
    </main>
    <dialog id="add-dialog">
        <form action="#" id="form-1">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" autocomplete="off" required>
        
            <label for="author">Author</label>
            <input type="text" id="author" name="author" autocomplete="off" required>
            <label for="pages" >Pages</label>
            <input type="number" id="pages" name="pages" autocomplete="off" min="1" max="10000" required>
        
            <label for="stat"><input type="checkbox" id="stat" name="stat" value="Read"> Mark Read</label>
            
            <div class="form-btns">
                <button type="submit" class="form-add">Add Book</button>
                <button type="button" class="cancel-btn">Cancel</button>
            </div>
        </form>
    </dialog>
    <dialog id="edit-dialog">
        <form action="#" id="form-2">
            <h3>Edit Book</h3>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" autocomplete="off" required>
        
            <label for="author">Author</label>
            <input type="text" id="author" name="author" autocomplete="off" required>
            <label for="pages" >Pages</label>
            <input type="number" id="pages" name="pages" autocomplete="off" min="1" max="10000" required>
        
            
            <div class="form-btns">
                <button type="submit" class="edit-btn">Edit</button>
                <button type="button" class="cancel-edit">Cancel</button>
            </div>
        </form>
    </dialog>

<script src="../static/js/script.js"></script>
</body>

</html>